{% assign blog = page.url | split:'/' %}
{%- capture site_tags -%}
    {%- for tag in site.tags -%}
        {% assign cnt = 0 %}
        {%- for post in tag[1] -%}
            {% if post.categories[0] == blog[1] %}
                {% assign cnt = cnt | plus:1 %}
            {% endif %}
        {%- endfor -%}
        {% if cnt > 0 %} 
            {{- tag | first -}}{%- unless forloop.last -%},{%- endunless -%}
        {% endif %}
    {%- endfor -%}
{%- endcapture -%}
{%- assign tags_list = site_tags | split:',' | sort -%}

{% if tags_list.size > 0 %}
<div id="sidebar" class="sidebar-tags ml-1">
    <h4>Menus</h4> 
    <div id='sidebar-nav' class="navbar-nav flex-column mt-2 sidebar-nav">
        {%- for tag in tags_list -%}
            <span class="nav-item nav-scroll" data-tag="{{- tag -}}">
                {% if page.categories %}
                <a href="/{{ page.categories }}/?tag={{- tag -}}" class="nav-custom-link pt-1 nav-link text-black sidebar-link">&nbsp;{{- tag -}}</a>
                {% else %}
                <a href="?tag={{- tag -}}" class="nav-custom-link pt-1 nav-link text-black sidebar-link">&nbsp;{{- tag -}}</a>
                {% endif %}
            </span>
        {%- endfor -%}

    </div>
</div>
{% endif %}
 
<div class="side-items">
    <ul class="list-inline footer-links">
      <li class="list-inline-item">
        <a href="https://dustjq1004.github.io/">
          <img src="https://hits.seeyoufarm.com/api/count/incr/badge.svg?url=https%3A%2F%2Fgithub.com%2Fdustjq1004%2Fhit-counter&count_bg=%23000000&title_bg=%23000000&icon=github.svg&icon_color=%23FFFFFF&title=%EC%A1%B0%ED%9A%8C%EC%88%98&edge_flat=true"/>
        </a>
      </li>
    </ul>
</div>