
a {
    transition: color 0.3s ease-in-out;
}

/*
********************************
sidebar css styles
********************************
*/

.side-items {
    position: fixed;
    left: 10px;
    top: 60px;
    z-index: 1;
}

.side-items a {
    color: black;
}

/* sidebar - tags */

.sidebar-tags {
    position: fixed;
    left: 50px;
    top: 31%;
    z-index: 1;
}

.sidebar-tags h4 {
    margin-top: 1rem;
}

.sidebar-nav {
    height: 160px;
    overflow: scroll;
    scroll-behavior: smooth;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

.sidebar-nav::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
}

.nav-item a {
    color: black;
}

.hidden {
    display: none;
}

@media (max-width: 1200px) {
    .sidebar-tags {display: none;}
}

/* bootstrap nav-link custom */

.nav-scroll {
    opacity: 0.4;
    font-size: 1.2rem;
    transition: opacity 0.3s ease-in-out;
}

.nav-scroll:hover {
    opacity: 1;
}

.nav-scroll.selected {
    opacity: 1;
}

/*
********************************
content css styles
********************************
*/

.content {
    margin: 0 auto;
    max-width: 1000px;
}



/*
********************************
footer css styles
********************************
*/

footer a {
    transition: color 0.1s ease-in-out;
}