.side-items {
    position: fixed;
    left: 10px;
    top: 60px;
    z-index: 1;
}

.side-items a {
    color: black;
}

.fa-stack {
    display: inline-block;
    height: 2em;
    /* line-height: 2em; */
    position: relative;
    vertical-align: middle;
    width: 0.5em;
}


/* sidebar - tags */
.sidebar-tags {
    position: fixed;
    left: 10px;
    top: 250px;
    z-index: 1;
}

.nav-item a {
    color: black;
}

.hidden {
    display: none;
}

@media (max-width: 1200px) {
    .sidebar-tags {display: none;}
}

/* bootstrap nav-link custom */
.nav-custom-link {
    font-size: 1rem;
    /* border: 1px solid white; */
}

.nav-custom-link:hover {
    /* border: 1px solid black; */
    
}