.side-items {
    position: fixed;
    left: 10px;
    top: 60px;
    z-index: 1;
}

.side-items a {
    color: black;
}

.fa-stack {
    display: inline-block;
    height: 2em;
    /* line-height: 2em; */
    position: relative;
    vertical-align: middle;
    width: 0.5em;
}

/* sidebar - tags */
.sidebar-tags {
    position: fixed;
    left: 50px;
    top: 33%;
    z-index: 1;
}

.sidebar-nav {
    height: 160px;
    overflow: scroll;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

.sidebar-nav::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
}

.nav-item a {
    color: black;
}

.hidden {
    display: none;
}

@media (max-width: 1200px) {
    .sidebar-tags {display: none;}
}




/* bootstrap nav-link custom */
/* .nav-custom-link {
    transition: font-size 0.3s ease-in-out;
    border: 1px solid white;
} */

.nav-scroll {
    opacity: 0.4;
    font-size: 1.2rem;
    transition: opacity 0.3s ease-in-out;
}

.nav-scroll:hover {
    opacity: 1;
}

.nav-scroll.selected {
    opacity: 1;
}

/*
********************************
content css styles
********************************
*/

.content {
    margin: 0 auto;
    max-width: 1000px;
}